#universities-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    width: 100%;
    z-index: 1;
    top: -4.28rem;
    position: relative;
}

#education-text {
    color: #E6ECF2;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
    font-size: 11rem;
    /*text-shadow: -0.0075em 0.0075em 0 rgba(46, 47, 48, 0.6),
    0.005em 0.005em 0 rgba(47, 48, 49, 0.62),
    0.01em 0.01em 0 rgba(58, 60, 61, 0.64), 
    0.015em 0.015em rgba(86, 88, 90, 0.66), 
    0.02em 0.02em 0 rgba(89, 91, 94, 0.68), 
    0.025em 0.025em 0 rgba(110, 113, 116, 0.7),
    0.03em 0.03em 0 rgba(139, 143, 146, 0.72),
    0.035em 0.035em 0 rgba(170, 173, 177, 0.74);*/
    /*text-shadow: 1.2px 0 #e4e3e3, -1px 0 #e4e3e3;*/

    /*text-shadow: -0.0075em 0.0075em 0 rgba(170, 173, 177, 0.74),
    0.005em 0.005em 0 rgba(139, 143, 146, 0.72),
    0.01em 0.01em 0 rgba(110, 113, 116, 0.7), 
    0.015em 0.015em rgba(89, 91, 94, 0.68), 
    0.02em 0.02em 0 rgba(86, 88, 90, 0.66), 
    0.025em 0.025em 0 rgba(58, 60, 61, 0.64),
    0.03em 0.03em 0 rgba(47, 48, 49, 0.62),
    0.035em 0.035em 0 rgba(46, 47, 48, 0.6);*/

    text-shadow: 0.035em 0.035em 0 rgba(46, 47, 48, 0.6),
    0.03em 0.03em 0 rgba(47, 48, 49, 0.62),
    0.025em 0.025em 0 rgba(58, 60, 61, 0.64), 
    0.02em 0.02em rgba(86, 88, 90, 0.66), 
    0.015em 0.015em 0 rgba(89, 91, 94, 0.68), 
    0.01em 0.01em 0 rgba(110, 113, 116, 0.7),
    0.005em 0.005em 0 rgba(139, 143, 146, 0.72),
    -0.0075em 0.0075em 0 rgba(170, 173, 177, 0.74);

    opacity: .85;
}